@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);
body {
	height: 100vh;
	background-image: radial-gradient(red, rgb(151, 42, 42));
	background-image: url("https://shop.paperkutz.co.za/869/best-mom-ever-cake-topper.jpg");
	background-position: center center;
	/* background-repeat: no-repeat; */
	background-size: cover;
	color: #ccc;
	font-family: Raleway;
	letter-spacing: 0.15em;
	font-size: 20px;
	width: 100%;
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.name {
	position: absolute;
	bottom: 10px;
	right: 25%;
	color: black;
	/* animation: drop 10s ease-out; */
	/* animation: 5s linear 3s infinite alternate slidein; */
	/* animation: 3s ease-in 1s 2 reverse both paused slidein; */
	animation: 5s slidein infinite alternate;
}
.name > span {
	color: red;
}
.image {
	height: 80px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	animation: spin infinite 5s linear;
}
@keyframes slidein {
	from {
		transform: scaleX(0);
	}
	to {
		transform: scaleX(1);
	}
}

canvas {
	position: absolute;
	z-index: -1;
	top: 0;
}
#wishes {
	width: 90%;
	margin: calc(50vh - 6.7em) auto;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}
#wishes > p {
	color: black;
	font-weight: 800;
	text-shadow: 3px 3px 5px gray;
	font-size: 22px;
}

span {
	display: inline-block;
}
span.jump {
	animation: jump 0.25s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0s 2 alternate;
}
@keyframes jump {
	to {
		transform: translateY(-0.7em);
	}
}
@keyframes drop {
	0% {
		transform: translateY(-100px);
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

#pleaseClick {
	position: absolute;
	font-size: 80%;
	width: 10em;
	text-align: center;
	left: calc(50vw - 5em);
	top: calc(50vh - 12.5em);
	animation: jump 1s ease-in-out infinite alternate;
	color: black;
	font-weight: 800;
	text-shadow: 3px 3px 5px gray;
}
#pleaseClick span {
	font-size: 200%;
}

.control {
	text-align: center;
}

input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 18em;
}

input[type="range"]::-webkit-slider-thumb {
	background-color: white;
	width: 20px;
	height: 20px;
	border: 3px solid #374566;
	border-radius: 50%;
	margin-top: -9px;
}

input[type="range"]::-moz-range-thumb {
	background-color: black;
	width: 15px;
	height: 15px;
	border: 3px solid #333;
	border-radius: 50%;
}

input[type="range"]::-ms-thumb {
	background-color: black;
	width: 20px;
	height: 20px;
	border: 3px solid #333;
	border-radius: 50%;
}

input[type="range"]::-webkit-slider-runnable-track {
	background-color: black;
	height: 3px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
	outline: none;
}

input[type="range"]::-moz-range-track {
	background-color: black;
	height: 3px;
}

input[type="range"]::-ms-track {
	background-color: black;
	height: 3px;
}

input[type="range"]::-ms-fill-lower {
	background-color: HotPink;
}

input[type="range"]::-ms-fill-upper {
	background-color: black;
}

@media screen and (max-width: 376px) {
	#wishes > p {
		font-size: 16px;
	}
	.name > h1 {
		font-size: 28px;
	}
}
